<h3>Please introduce yourself ...</h3>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

<%= javascript_include_tag 'form_hints' %>

<div class="submission-area">

  <script src="javascripts/form_hints.js" type="text/javascript"></script>

	Hello, my name is	
	<%= f.text_field :full_name, :class => "full_name" %>
	and I am in the Department of
	<%= f.text_field :department, :class => "department" %>
	. I would love to join the fair. Please keep me up to date via
	<%= f.text_field :email_address, :class => "email_address" %>
	. Thanks!

	</br></br></br>	
	<div class="actions">
    <%= f.submit %>
	</div>

</div>

<% end %>
