


<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

<%= javascript_include_tag 'jquery-1.4.4.min', 'jquery.textbox-hinter','form_hints' %>

<div class="submission-area">

	Hello,
	</br></br>I hear people call you	
 	<%= f.text_field :full_name, :class => "full_name", :size => 15 %> .&nbsp;
	</br>You also seem to be in the Department of
	<%= f.text_field :department, :class => "department", :size => 15 %>
	<%= f.text_field :phone_number, :class => "phone_number", :size => 15 %>
	, and/or &nbsp;
	<%= f.text_field :email_address, :class => "email_address" %>
	. I have also given the key research topics I would like to appear on my shirt below. For myself and my helpers at the expo I will need &nbsp; 
		<%= f.text_field :shirt_size_s, :class => "num_input", :value => 0, :size => 2%> &nbsp;
	small shirts, &nbsp;
	<%= f.text_field :shirt_size_m, :class => "num_input", :value => 0, :size => 2%> &nbsp;
	medium shirts, &nbsp;
	<%= f.text_field :shirt_size_l, :class => "num_input", :value => 0, :size => 2 %> &nbsp;
	large shirts, and &nbsp;
	<%= f.text_field :shirt_size_xl, :class => "num_input", :value => 0, :size => 2%> &nbsp;
	extra-large shirts.
	</br></br>
	Thanks!
	</br></br>The topics I would like on the shirt are:
	<div class="topics">
		<%= f.text_area :large_words, :class => "large_words", :rows => 4, :cols => 30 %>
		<%= f.text_area :medium_words, :class => "medium_words", :rows => 4, :cols => 30 %>
		<%= f.text_area :small_words, :class => "small_words", :rows => 4, :cols => 30 %>
  </div>
</div>

	</br>
	<div class="actions">
    <%= f.submit %>
	</div>
</div>

<% end %>
</br>
