<p>
  <b>Name:</b>
  <%= @submission.full_name %>
</p>

<p>
  <b>Department:</b>
  <%= @submission.department %>
</p>

<p>
  <b>Office Address</b>
  <%= @submission.office_address %>
</p>
<p>
  <b>Phone Number:</b>
  <%= @submission.phone_number %>
</p>
  <b>Email Address:</b>
  <%= @submission.email_address %>
</p>
<p>
  <b>Number of Small T-Shirts</b>
  <%= @submission.shirt_size_s %>
</p>
<p>
  <b>Number of Medium T-Shirts</b>
  <%= @submission.shirt_size_m %>
</p>
<p>
  <b>Number of Large T-Shirts</b>
  <%= @submission.shirt_size_l %>
</p>
<p>
<b>Number of Extra-Large T-Shirts</b>
  <%= @submission.shirt_size_xl %>
</p>
<p>
<b>Small Words</b>
  <%= @submission.small_words %>
</p>
<p>
<b>Medium Words</b>
  <%= @submission.medium_words %>
</p>
<p>
<b>Large Words</b>
  <%= @submission.large_words %>
</p>
